# Database Configuration
DB_HOST=localhost
DB_PORT=3000
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=db
OTEL_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:1000
OTEL_SERVICE_NAME=ms-bucket-dev

# Server Configuration
APP_INTERNAL_PORT=3000
APP_EXTERNAL_PORT=3000
API_PREFIX=api/v1

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:1000

# Storage Configuration
STORAGE_TYPE=minio
AWS_ACCESS_KEY_ID=uuiii
AWS_SECRET_ACCESS_KEY=kkjjjk
AWS_REGION=us-east-1
AWS_S3_ENDPOINT=https://storage.com

# R2 Template
R2_ACCESS_KEY_ID=your-r2-key
R2_SECRET_ACCESS_KEY=your-r2-secret
R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com

# MinIO Template
MINIO_ACCESS_KEY=your-user
MINIO_SECRET_KEY=your-secret-key
MINIO_ENDPOINT=your-url
MINIO_EXTERNAL_ENDPOINT=your-url
#http://storage-local.kplian.com


